@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&Open+Sans:wght@300&family=Poppins:wght@300&family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  z-index: 1;
}

body {
  background: rgb(2, 2, 26);
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  animation: move 1s linear infinite forwards;
}

html {
  scroll-behavior: smooth;
}

body::before {
  content: "";
  position: fixed;
  top: 15%;
  left: 15%;
  height: 300px;
  width: 250px;
  background: rgb(0, 255, 255);
  filter: blur(140px);
}
body::after {
  content: "";
  position: fixed;
  top: 65%;
  left: 65%;
  height: 250px;
  width: 250px;
  background: rgb(140, 0, 255);
  filter: blur(140px);
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: #000;
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 30px;
}
::-webkit-scrollbar-thumb{
  background: rgba(0, 255, 255,.85);
  border-radius: 50px;
  border: 1px rgba(140, 0, 255,.6) solid;
}